.product-summary-container {
  width: 65%;
  margin: 184px auto;
  max-width: 1044px;
}

.product-summary-container > h2 {
  color: #fff;
  font-family: "SF Pro Display", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product-summary-container > h2 span {
  color: #05ff69;
}

.product-summary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 48px;
}

.product-sdk {
  width: 100%;
  padding: 44px 70px 34px 70px;
  box-sizing: border-box;
  border-radius: 32px;
  /* opacity: 0.5; */
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
}

.product-sdk-header {
  width: 100%;
  display: flex;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.product-sdk-header div,
.product-sdk-body div {
  width: 25%;
  padding: 20px 50px 20px 32px;
  box-sizing: border-box;
}

.product-sdk-header div {
  padding-right: 4px;
  padding-left: 28px;
}

.product-sdk-header div p {
  color: #fff;
  font-family: "SF Pro Display", sans-serif;
  font-size: 1rem;
  z-index: 1;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product-sdk-body {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.product-sdk-body div:first-child,
.product-sdk-header div:first-child {
  padding-left: 0px;
}

.product-sdk-body div {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.product-sdk-body div:last-child {
  border-right: 0px;
}

.product-sdk-body div p {
  color: rgba(255, 255, 255, 0.77);
  font-family: "SF Pro Display", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 152.836%; /* 24.454px */
  letter-spacing: 0.24px;
}

.product-support {
  width: 100%;
  padding: 50px 70px 32px 70px;
  box-sizing: border-box;
  border-radius: 32px;
  /* opacity: 0.5; */
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
}

.product-support-single {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  box-sizing: border-box;
}

.product-support-single:last-child,
.product-sdk-body:last-child {
  border-bottom: 0px;
}

.product-support-head {
  width: 20%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  height: 100%;
  box-sizing: border-box;
  padding: 24px 21px 24px 0px;
}

.product-support-head h2 {
  color: #fff;
  font-family: "SF Pro Display", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 152.836%; /* 24.454px */
  letter-spacing: 0.24px;
  width: 100%;
}

.product-support-body {
  width: 45%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 24px 0px 24px 35px;
}

.product-support-body p {
  color: rgba(255, 255, 255, 0.77);
  font-family: "SF Pro Display", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 152.836%; /* 24.454px */
  letter-spacing: 0.24px;
}
